@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  min-height: 100%;
  background-color: #322f37;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #636363;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-Semibold";
  src: url("./assets/fonts/Raleway-SemiBold.ttf");
}
