@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  min-height: 100%;
  background-color: #faf9f6;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1e1d20;
  }
}

#root {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #636363;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-Semibold";
  src: url("./assets/fonts/Raleway-SemiBold.ttf");
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 0 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: #1b1b1b;
}

input:checked + .slider:hover {
  background-color: #2b2a2a;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-arrow slick-next {
  color: #000;
}

:is(.dark .slick-arrow slick-next) {
  color: #fff;
}
