@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  min-height: 100%;
  background-color: #f7faff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  scroll-behavior: smooth;
}

.bg-fixed {
  background-image: url("./assets/images/home1.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*edit bg image opacity*/
  /*background-size: contain 100%;*/
  background-position: center;
}

.border-primary {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.custom-grid {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr 3fr 3fr;
}

.bg-glass {
  background-color: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2.5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
}

.transform-center {
  transform: translate(-50%, -50%);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #636363;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Raleway-Bold";
  src:
    url("./assets/fonts/Raleway-Bold.woff2") format("woff2"),
    url("./assets/fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LeagueSpartan-Bold";
  src: url("./assets/fonts/LeagueSpartan-Bold.woff"),
    url("./assets/fonts/LeagueSpartan-Bold.woff2");
  font-optical-sizing: auto;
  font-display: swap; /* This will use fallback font until the font is fully loaded */
}

.font-libreFranklinBold {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.selected-tab {
  font-weight: 500;
  text-decoration: underline;
}

@font-face {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LeagueSpartan-Regular";
  src:
    url("./assets/fonts/LeagueSpartan-Regular.woff2") format("woff2"),
    url("./assets/fonts/LeagueSpartan-Regular.woff") format("woff");
  font-optical-sizing: auto;
  font-display: swap; /* This will use fallback font until the font is fully loaded */
}

.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 25px;
  width: 12px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}

.slope {
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
}

.slope-right {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.slope-none {
  clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%) !important;
}

.gradient-light-blue {
  background-image: linear-gradient(#89f7fe 0%, #66a6ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-pink-purple {
  background-image: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-black-white {
  background-image: linear-gradient(to right, black 0%, #707070 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bg-dark-gradient {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.bg-pink-gradient {
  background-image: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-arrow slick-next {
  color: #000;
}

:is(.dark .slick-arrow slick-next) {
  color: #fff;
}

.overflow-fix {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.item-3 {
  width: 30px;
  height: 30px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #32354f;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: ease-out 0.3s all;
  }
  &:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #32354f;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: ease-out 0.3s all;
  }
  &:hover,
  &:focus {
    &:before {
      transform: translate(-50%, -50%) rotate(135deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(225deg);
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 10; /* Adjust z-index as needed to ensure it's above other content but below modal/dialog if any */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  pointer-events: none; /* Prevents interaction */
}

.backdrop.show {
  opacity: 1;
  pointer-events: all; /* Allows interaction */
}

.opacity-transition {
  opacity: 0;
  transition:
    opacity 300ms ease-out,
    transform 300ms ease-out;
}

.opacity-transition.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

nav.animated-parent {
  .animated-container {
    --_animationStartsAfter: 500px;
    --_animationDistance: 250px;
    color: #45496a;
    @supports (animation-timeline: view()) {
      animation: containerShift linear forwards;
      animation-timeline: view();
      animation-range-start: calc(100vh + var(--_animationStartsAfter));
      animation-range-end: calc(
        100vh + var(--_animationStartsAfter) + var(--_animationDistance)
      );
    }
  }
}

.nav {
  --_animationStartsAfter: 500px;
  --_animationDistance: 250px;
  color: #45496a;

  @supports (animation-timeline: view()) {
    animation: stickyNav linear forwards;
    animation-timeline: view();
    animation-range-start: calc(100vh + var(--_animationStartsAfter));
    animation-range-end: calc(
      100vh + var(--_animationStartsAfter) + var(--_animationDistance)
    );
  }

  path {
    fill: currentColor;
  }
  a {
    color: currentColor;
  }
}

@keyframes containerShift {
  100% {
    border-radius: 0;
    background-color: #00000080;
    color: white;
  }
}

@keyframes stickyNav {
  100% {
    color: white;
    fill: white;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.switch {
  width: 80px;
  height: 40px;
}

/* Button */
.toggle {
  position: absolute;
  visibility: hidden;
}

.toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: 80px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 30px;
}

.toggle + label:before,
.toggle + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.toggle + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  transition: background 0.4s;
}
.toggle + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
.toggle:checked + label:before {
  background-color: #8ce196;
}
.toggle:checked + label:after {
  margin-left: 48px;
}

.input-underline {
  border: none;
  border-bottom: 2px solid #6d6c6c;
  outline: none;
  padding: 10px;
  width: 100%;
  transition: border-bottom-color 0.3s ease;
}

.input-underline:focus {
  border-bottom: 2px solid #45496a;
}

.bg-inputBg {
  background-color: #f0f0f0; /* Replace with your desired background color */
  border: 1px solid #ccc; /* Optional: border styling */
}

input:focus {
  outline: none;
}

.bg-container {
  background-color: #f7faff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
}

/*make hover effect on text transition smoothly*/
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: color 0.5s ease;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
}
