@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  min-height: 100%;
  background-color: #322f37;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  scroll-behavior: smooth;
}
